**/bin
**/obj
packages
*.suo
*.user
TestResults
StyleCop.Cache
src/Core/Host/Web/web.config
src/Core/Host/Web/app/typescriptsources.js
src/Core/Host/Web/app/typescriptsources.js.map
src/Core/Host/Web/log4net.config
src/Core/Host/Engine/log4net.config
src/Core/Host/Web/node_modules/**
src/Agent/Service/app.config
src/Agent/Service/log4net.config
src/Core/Host/Engine/app.config
src/Core/Host/Web/app/app.js
src/Core/Host/Web/app/app.js.map
src/DB/Migrations/migration.sql
.vs/config/applicationhost.config
/_ReSharper.Caches/ReSharperPlatformVs145.Fluxys.Cessna
*.sqlite
UpgradeLog3.htm
/vs
/.vs
/node_modules


tools/Addins/

tools/packages\.config\.md5sum

Output/

tools/

*.trx
/.vs/FunctionalCSharp/v15/Server/sqlite3
